{% extends 'auth_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<p>{{ message }}</p>

<form id="login" method="POST">
    <div>
        <label>Login Id</label>
        <input type="text" name="login_id" placeholder="Enter a unique login id" required>
    </div>
    <br>
    <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter a STRONG password" required>
    </div>
    <br>
    <button action="submit">
        LOGIN
    </button>
</form>

{% endblock %}